# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
ENV/
.venv/
.pipenv/
*.egg-info/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
pip-wheel-metadata/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyBuilder
target/

# Jupyter Notebooks
.ipynb_checkpoints

# Pyre type checker
.pyre/

# VS Code
.vscode/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace
*.vscode/
*.code-workspace

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and local data
*.log
*.sqlite3
*.db

# Environment files
.env
.env.*

# Git
*.orig

# Docker
*.pid
